
<mat-grid-list cols="5" rowHeight="3:4" >
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Fiction</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ4GMH8KfaeNZt9KogKieTto07C46DKJgBEOA&usqp=CAU" alt="Fiction" style="width:120px;height: 150px;">
            <mat-card-actions>
              <button mat-button (click)="dispCategoryBooks('fiction')">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Humour</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQL14HguCgQNhVRdgSqEhR5_M3OWHyEqE5aXA&usqp=CAU" alt="Humour" style="width:120px;height: 150px;">
            <mat-card-actions>
              <button mat-button (click)="dispCategoryBooks('humour')">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Horror</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ-bwy1Z-V0mBWlA_YT3KE5mHeTlithexJ6JA&usqp=CAU" alt="horror" style="width:120px;height: 150px;">
            <mat-card-actions>
                <button mat-button (click)="dispCategoryBooks('horror')">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Art</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/51EDN9720KL._SX361_BO1,204,203,200_.jpg" alt="Art" style="width:120px;height: 150px;">
            <mat-card-actions>
              <button mat-button (click)="dispCategoryBooks('art')">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Philosophy</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://m.media-amazon.com/images/I/51P91z4+MyL.jpg" alt="Philosophy" style="width:120px;height: 150px;">
            <mat-card-actions>
              <button mat-button (click)="dispCategoryBooks('philosophy')">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Drama</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQZhJSA_lp_1_2wzhJCdvgv2-Z9ktKX3FwU8g&usqp=CAU" alt="Drama" style="width:120px;height: 150px;">
            <mat-card-actions>
              <button mat-button (click)="dispCategoryBooks('drama')">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Thriller</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://images-eu.ssl-images-amazon.com/images/I/51twrEr4yYL._SY445_QL70_ML2_.jpg" alt="Thriller" style="width:120px;height: 150px;">
            <mat-card-actions>
              <button mat-button (click)="dispCategoryBooks('thriller')">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Science</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ3dNXFMJlKBzJNN2fwhsVCTn6rgpVQPgQQ1A&usqp=CAU" alt="Science" style="width:120px;height: 150px;">
            <mat-card-actions>
              <button mat-button (click)="dispCategoryBooks('science')">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Romance</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTZaFLE-X6WcYD37-3o3nNgfJeO0TZvASjuKw&usqp=CAU" alt="Romance" style="width:120px;height: 150px;">
            <mat-card-actions>
              <button mat-button (click)="dispCategoryBooks('romance')">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Mystery</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSqd1Z-RJoIPOuntbBt3tLGRKxIf-g8NB6wqQ&usqp=CAU" alt="Mystery" style="width:120px;height: 150px;">
            <mat-card-actions>
              <button mat-button (click)="dispCategoryBooks('mystery')">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Adventure</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://scribblesofsoul.com/wp-content/uploads/2011/09/the-alchemist-by-paulo-coelho.jpg" alt="Adventure" style="width:120px;height: 150px;">
            <mat-card-actions>
              <button mat-button (click)="dispCategoryBooks('adventure')">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<!--To display books of specific category-->
<h1>{{bcategory | uppercase}}</h1>
<mat-grid-list cols="2" rowHeight="2:1" *ngFor='let b of volinfo' class="grids">
    <mat-grid-tile>
        <mat-card >
            <img mat-card-image src="{{b.imageLinks.smallThumbnail}}" alt="Adventure" style="width:200px;height: 230px;">
            <mat-card-actions>
              <button mat-button >Read</button>
              <button mat-button >Add to Fav</button>
              
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card >
            <mat-card-content>
                <p><b>Title: </b>{{b.title}}</p>
                <p><b>Authors: </b>{{b.authors}}</p>
                <p><b>Language: </b>{{b.language}}</p>
                <p><b>Description: </b>{{b.description}}</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>